<button (click)="getPlanets()">Dame planetas</button>

<div class="planet-list">
  <div class="filter">
    <input placeholder="escribe para buscar" [(ngModel)]="searchText" />
  </div>
  <table>
    <thead>
      <th>Nombre</th>
      <th>Poblacion</th>
      <th>Tipo de terreno</th>
      <th>Clima</th>
      <th>Período de rotación</th>
    </thead>
    <tbody>
      <tr *ngFor="let planet of planets | searchBy: searchText">
        <td>{{ planet.name }}</td>
        <td class="r">{{ planet.population | number: "1.0-0" }}</td>
        <td>{{ planet.terrain }}</td>
        <td>{{ planet.climate }}</td>
        <td class="r">{{ planet.rotation_period | number: "1.0-0" }}</td>
      </tr>
    </tbody>
    <tfoot>
      {{
        planets.length
      }}
      primeros planetas
    </tfoot>
  </table>
</div>
