.weather {
  margin: 40px;
  font-size: 1.5em;
}
.city {
  font-weight: bold;
}
span {
  margin-right: 20px;
}
.lluvioso {
  color: #0000a0;
}
.soleado {
  color: #ffcc00;
}
.calor {
  color: #ff0000;
}

.frio {
  color: #00d0ff;
}
