<header>
  <div class="user-profile">
    <app-user-profile></app-user-profile>
  </div>
  <nav>
    <a [routerLink]="['/inicio']">Inicio</a> |
    <a *appRole="'admin'" [routerLink]="['/usuarios']">Usuarios</a> |
    <a [routerLink]="['/temperaturas']">Temperaturas</a> |
    <a [routerLink]="['/planetas']">Planetas</a> |
    <a [routerLink]="['/planetas/1']">Planeta 1</a> |
    <a [routerLink]="['/planetas/2']">Planeta 2</a> |
    <a [routerLink]="['/planetas/0']">Planeta 0</a> |
    <a [routerLink]="['/pizzas']">Pizzas</a> |
    <a *appRole="'admin, operadorAlmacen'" [routerLink]="['/almacen']"
      >Almacen</a
    >
  </nav>
</header>
<main>
  <router-outlet></router-outlet>
</main>

<footer>
  <hr />
  (c) Tragsa 2022.
</footer>

<hr />
<input [(ngModel)]="userName" />
<input [(ngModel)]="role" />
<button (click)="onLogin()">Login</button>

<button (click)="onLogout()">Logout</button>

<!--
<div>
  {{ mensajes }}
</div>

Importe: {{ 123456.789 | currency: "EUR" }} <br />
Importe: {{ 123456.789 | currency: "USD" }}<br />
Importe: {{ 123456.789 | currency: "YEN" }}<br />

<span appResalta>&copy; 2022. Sevilla</span> -->
